# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nidhi\OneDrive\Desktop\UMich\SEM2\CIS 566- SOFTWARE DESIGN PATTERN\term project\testCrawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
